body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.root-containter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

.irc-wrapper {
  width: 400px;
  height: 600px;
  border: 1px black solid;
}

.irc-chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 93%;
  background-color: #eee;
  overflow-y: auto;
}

.irc-input {
  width: 100%;
  height: 7%;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  border-top: 1px solid #888;
  font-size: 15px;
  padding: 0 5px;
}

.irc-input:focus {
  outline: none;
  background-color: lightblue;
}

.message-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  box-sizing: border-box;
  padding: 5px 5px;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.content,
.nick {
  max-width: 100%;
}

.nick {
  font-style: italic;
}

.color_wrapper {
  border: black 1px solid;
  border-radius: 10px;
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 100px;
  left: 50px;
}
